<div id="page-auth">
    <aside>
        <h2>Seu time <br> em harmonia.</h2>
        <img src="../../../assets/images/mimi-thian-vdXMSiX-n6M-unsplash.jpg" alt="imagem ilustrativa">
    </aside>

    <main class="main-content">
        <h1>RIOTT</h1>
        <h3>Controle as tarefas e mesada dos seus filhos para manter a casa em harmonia.</h3>
        <div class="form">
            <form #loginForm="ngForm">
                <app-input-email ngDefaultControl [matLabel]="'Email'" [id]="'email'" [placeholder]="'Email@email.com'"
                    [type]="'email'" name="email" [(ngModel)]="user.email">
                </app-input-email>
                <app-input-password ngDefaultControl [matLabel]="'Senha'" [id]="'senha'" name="password"
                    [(ngModel)]="user.password">
                </app-input-password>
                <app-button-primary text="Entrar" (click)="doLogin()"></app-button-primary>
            </form>
            <div *ngIf="errorMessage">
                {{errorMessage}}
            </div>
        </div>
    </main>
</div>