$primary-dark-color: #006D77;
$primary-light-color: #83C5BE;

$secundary-dark-color: #E29578;
$secundary-light-color: #FFDDD2;

$gray-01: #EDF6F9;
$gray-02: #DEE8EB;
$gray-03: #B5C5CA;
$gray-04: #7C8D93;
$gray-05: #3B4244;

$red-color: #EB5757;
$green-color: #27AE60;
$blue-color: #2F80ED;