<mat-toolbar class="navbar">
    <div class="logo-nav">RIOTT</div>
    <div>
        <span routerLink="/pages/list" routerLinkActive="active">Listas</span>
        <span routerLink='/pages/history' routerLinkActive="active">Histórico</span>
        <span routerLink="/pages/activity" routerLinkActive="active">Atividades</span>
        <span routerLink="/pages/members" routerLinkActive="active">Membros</span>
        <span routerLink="/pages/login" routerLinkActive="active">Sair</span>
    </div>
</mat-toolbar>