<p>
    <mat-form-field appearance="outline" [ngClass]="classCss">
        <mat-label>{{matLabel}}</mat-label>
        <input matInput [id]="id" [placeholder]="placeholder" [type]="hide ? 'password' : 'text'" autocomplete="off"
            [formControl]="password" [formControl]="emailInput" [name]="name" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</p>